.posts{
    display: flex;
    justify-content: space-between;
}
.last-post h3, .all-posts h3{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
}

.last-post_block{
    padding: 32px;
    width: 733px;
    border: 1px rgba(109, 110, 118, 0.1) solid;
}

.last-post_block img{
    width: 669px;
    height: 352px;
    object-fit: cover;
    margin-bottom: 30px;
}

.last-post_title{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 16px;
}

.last-post_intro{
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    margin-bottom: 32px;
}

.all-posts {
    width: 517px;
    height: 724px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.info{
    margin-bottom: 8px;
}
.info_author, .info_date{
    font-family: inter;
    font-size: 14px;
    color: #4C4C4C;
}

.author_name{
    color: #592EA9;
}

.post-list_item{
    padding: 32px 32px 25px 32px;
    height: 181px;
}
.post-list_item:nth-child(even){
    background-color: #FBF6EA;
}
.all-posts_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}