* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body {
    height: 100%;
    font-family: "Sen", serif;
    /*display: flex;*/
    /*flex-direction: column;*/
}
main{
    flex: 1 1 auto;
}
.wrap{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232536;
    min-height: 80px;
}

.logo {
    width: 140px;
    height: 30px;
}

.nav-list{
    display: flex;
    gap: 24px;
}

.nav-link{
    font-size: 16px;
    color: #fff;
    transition: 500ms ease;
}
.nav-link:hover{
   color:#FFD050;
}

.register, .auth{
    padding: 100px 80px;
}

.register h2, .auth h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #232536;
    margin-bottom: 60px;
}

.register_form, .auth_form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 768px;
    margin: 0 auto;
}

.register_input, .auth_input{
    padding: 24px;
    border-radius: 2px;
    border: 1px solid #6D6E7680;
    font-size: 16px;
}
.register_input::placeholder, .auth_input::placeholder{
    font-size: 16px;
    color: #232536;
}

.error-mess{
    /*font-family: "Sen", serif;*/
    /*font-size: 16px;*/
    display: none;
    padding: 24px;
    border-radius: 2px;
    border: 5px solid red;

}

.register_button, .auth_button{
    border: none;
    background-color: #FFD050;
    padding: 16px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: 500ms ease;
}

.register_button:hover, .auth_button:hover{
    color: #fff;
}
